/* 
 * Copyright  2005 Apache Software Foundation
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 * 
 */
h2 {
	font-size: 160%;
	background-color: ffffff;
}

h3 {
	font-size: 130%;
	color: #ffffff;
	background-color: #525D76;
}

h4 {
	color: #ffffff;
	background-color: #828DA6;
}

table {
	empty-cells: show;
	border-collapse: collapse;
	width: 100%;
}

td {
	background-color: eeeeee;
	color: 000000;
	padding: 5;
	border: 1px solid black;
	vertical-align: top;
}

/* first row */
table tr:first-child td {
	background-color: cccccc;
	color: 000000;
	padding: 5;
	border: 1px solid black;
	font-weight: bold;
}

/* or th as first row */
table th {
	background-color: cccccc;
	color: 000000;
	padding: 5;
	border: 1px solid black;
	font-weight: bold;
}

pre {
	background-color: efefef;
}